body{
    background: #007fc7  ;
}
h1{
    position: static;/*statico é o padrão*/
}
p{
    width: 300px;
}

.relative{
    border:1px solid salmon;
    position: relative;
    /*posicionamento relativo: precisa definir para 
    onde movimentar - top, right, bottom e left*/
    top:20px;
    left: 80px;
}

.absolute{
    border: 1px solid salmon;
    background: #f2f2f2;
    position: absolute;
    top: 80px;
    right: 20px;
  
}
.fixed{
    border: 1px solid salmon;
    background: #f2f2f2;
    position: fixed;
    top: 0px;
    right: 0px;
  
}
#container{
    background: white;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}
