.conteudo1{
    border: 1px solid salmon;
    background: rgb(235, 194, 194);
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
}
.conteudo2{
    border: 1px solid turquoise;
    background: rgb(192, 250, 240);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 1;
}

.conteudo3{
    border: 1px solid rgb(211, 116, 211);
    background: rgb(235, 215, 247);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 160px;
    left: 160px;
    z-index: 0;
}